# Binaries for programs and plugins
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test binary, built with `go test -c`
*.test

# Output of the go coverage tool, specifically when used with Litmus
relic
*.out

# Go mod
vendor/

# Node
node_modules/
dist/
dist-ssr/
*.local

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Database
*.db
*.db-journal
*.db-shm
*.db-wal

# OS
.DS_Store
Thumbs.db

# Atlas
migrations/
